<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %> </title>
    <link rel="stylesheet" href="../assets/css/t.css">
</head>
<body style="background-color:rgb(27, 27, 110) ; color: white;">
    

<form action="/jeep" method="post" enctype="multipart/form-data" id="admin">
    <label for="projects">carImg:</label>
    <input type="file" id="carImage" name="image" placeholder="project">

    <br>
    <br>

    <label for="description">carName</label>
    <input id="carName" name="carName" placeholder="car name"></input>

    <br>
    <br>

    <label for="description">millage</label>
    <input id="carName" name="millage" placeholder="millage"></input>

    <br>
    <br>
    <label for="description">seater</label>
    <input id="carName" name="seater" placeholder="How many seats"></input>

    <br>
    <br>

    <label for="description">mechnism</label>
    <input id="carName" name="mechnism" placeholder="Auto or manuel"></input>

    <br>
    <br>

    <label for="description">combustion</label>
    <input id="carName" name="combustion" placeholder="fuel or diesel"></input>

    <br>
    <br>

    <label for="description">price</label>
    <input id="carName" name="price" placeholder="price"></input>

    <br>
    <br>
    <input type="submit" id="submit">
</form>

</body>
</html>