<div class="container">
    <!-- offcanvas btn -->
    <!-- <div class="container" id="container"> -->
        <a class="btn  my-3" data-bs-toggle="offcanvas" href="#menu" role="button" aria-controls="menu" class ="d-block ">
            <i class="fa-solid fa-bars"></i>
        </a>
    
       
        <form role="search" id="form">
            <input type="search" id="query" name="q" placeholder="search cars..." aria-label="search through site content">
            <button><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>

    

    



        <!-- offcanvas menu-->
<div class="offcanvas offcanvas-start" tabindex="0" id="menu" aria-labelledby="menu-Label">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="menu-Label">Car Rental</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="wrapper">
            <div class="sidebar"  >
            
                    <ul class="nav d-block mt-3">
                     
                        <li>
                            <a class="nav-link" href="/contact.html">
                                <p>Contact us</p>
                            </a>
                        </li>
                       <li>
                            <a class="nav-link" href="#">
                                <p>Policy</p>
                            </a>
                        </li>

                        <li>
                            <a class="nav-link" href="#">
                                <p>Guidelines</p>
                            </a>
                                
                        
                        </li>
                        <li>
                            <a class="nav-link " href="#">

                            <p>Security</p>
                        </a>
                            
                        </li>
                       
                    </ul>
                </div>
            </div>
    
     
      </div>
    </div>






 
