<div class="container">
<div class="cars">
    <div class="brand">
        <div class="card" >
            <a href="/toyota-cars"  class="card-img">
                <img src="/img/toyota-b.png" alt="" style="height:50px; margin-top:10px"></a>
                <div class="card-body">
                </div>
            </div>
       <a href ="/toyota-cars" class="brand-name"><p >Toyota</p></a> 
</div>

<div class="brand">
    <div class="card" >
        <a href="#"  class="card-img">
           <img src="/img/hyundai.jpeg" alt="" style="height:50px; margin-top:10px"></a>
   
        <div class="card-body">

        </div>
    </div>
    <a href ="/toyota-cars" class="brand-name"><p >HYundai</p></a>
    </div>

    <div class="brand">
        <a href="#" class="card" >
            <!-- class="card-img"> -->
                <img src="/img/audi.png" alt="" style="height:50px; margin-top:10px">
           
            <div class="card-body">
                
            </div>
        </a>
    
        <a href ="/toyota-cars" class="brand-name"><p >Audi</p></a>
        </div>

        <div class="brand">
            <a href="#" class="card" >
                    <img src="/img/bmw.jpeg" alt="" style="height:50px; margin-top:10px ;">
                    <div class="card-body">
                        
                        
                    </div>
                </a>
                <a href ="/toyota-cars" class="brand-name"><p >BMW</p></a>
            </div>

            <div class="brand">
                <a href="#" class="card" >
                        <img src="/img/jeep.png" alt="" style="height:50px; margin-top:10px">
                        <div class="card-body">
                            
                            
                        </div>
                    </a>
                    <a href ="/toyota-cars" class="brand-name"><p >Jeep</p></a>
                </div>

                <div class="brand">
                    <a href="#" class="card" >
                            <img src="/img/rolls.png" alt="" style="height:50px; margin-top:10px ;">
                            <div class="card-body">
                                
                            </div>
                        </a>
                 
                        <a href ="/toyota-cars" class="brand-name"><p >Rolls Royce</p></a>
                    </div>
</div>
</div>