<div class="cars">
    <div>
<div class="card" >
    <div class="card-img">
        <img src="/img/toyota-b.png" alt="" style="height:50px; margin-top:10px">
    </div>
    <div class="card-body">

    </div>
</div>
<p class="brand-name">Toyota</p>
</div>

<div>
    <div class="card" >
        <div class="card-img">
            <img src="/img/hyundai.jpeg" alt="" style="height:50px; margin-top:10px">
        </div>
        <div class="card-body">
    
        </div>
    </div>
    <p class="brand-name">Hyundai</p>
    </div>

    <div>
        <div class="card" >
            <div class="card-img">
                <img src="/img/audi.png" alt="" style="height:50px; margin-top:10px">
            </div>
            <div class="card-body">
        
            </div>
        </div>
        <p class="brand-name">Audi</p>
        </div>

        <div>
            <div class="card" >
                <div class="card-img">
                    <img src="/img/bmw.jpeg" alt="" style="height:50px; margin-top:10px ;">
                </div>
                <div class="card-body">
            
                </div>
            </div>
            <p class="brand-name">BMW</p>
            </div>

            <div>
                <div class="card" >
                    <div class="card-img">
                        <img src="/img/jeep.png" alt="" style="height:50px; margin-top:10px">
                    </div>
                    <div class="card-body">
                
                    </div>
                </div>
                <p class="brand-name">Jeep</p>
                </div>

                <div>
                    <div class="card" >
                        <div class="card-img">
                            <img src="/img/rolls.png" alt="" style="height:50px; margin-top:10px ;">
                        </div>
                        <div class="card-body">
                    
                        </div>
                    </div>
                    <p class="brand-name">Rolls Royce</p>
                    </div>
</div>