<div class="home-btn">
    <div class="home-nave">
        <div class="content">
            <a href="/"><i class="fa-solid fa-house"></i></a>
        <i class="fa-solid fa-magnifying-glass"></i>
        <i class="fa-solid fa-heart"></i>
        <i class="fa-regular fa-credit-card"></i>
    </div>
    </div>
</div>