<%- include('./includes/doctype.ejs') %>
<%- include('./includes/canvass.ejs') %>
<%- include('./includes/car-brand.ejs') %>

<h5>Toyota Cars</h5>

    <div class="card" id="card">
        <img src="/img/toyota-hilux.png" class="img-fluid" alt="...">
   
        
        <div class="arrow">
            <div class="mil">
                <p><i class="fa-solid fa-arrow-up-right-from-square" id="millage"></i></p>
                <p class="">365M</p>
            </div>
        </div>
        
   
    <div class="car-details">
        <h6 class="car-name">
            Toyota Hilux
        </h6>   
        <div class="car-properties">
            <p>5 Seater</p>
            <p>Automatic</p>
            <p>Diesel</p>
        </div>   
    </div>
 </div>
        



<%- include('./includes/nav-bar.ejs') %> 

