form{
height: auto;
}
.otp{
    display: flex;
    width: auto;


}
input{
    margin-left:30px;
    width: 100px;
    height: 40px;
    /* border-radius: 50%; */
    font-size: 25px;
    text-align: center;
}

input[type=submit]{
    width: auto;
    border-radius: 0%;

}

