body{
    background-color: rgb(27, 27, 110);
}
#admin{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 1px black solid;
    margin-top: 50px;
    margin-bottom: 20px;
    width: 300px;

}
#carName{
    border: 1px black solid;
    width: 100%;
    height: 20px;

    background-color: red;
 
}